# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# misc
.coverage
.vscode
coverage.xml
.ruff_cache


# Home Assistant configuration
config/*
